<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <h1 style="margin-bottom: 3rem;"> <strong>더 폼</strong>에서 작성하신 &lt;<%= title %>&gt;에 대한 설문 정보입니다.</h1>
  <div class="container" sytle="display: flex;
align-items: center;">
    <div className="box" style="border-radius: 15px;
    display: flex;
    align-items: center;
  padding: 1rem;
  padding-left: 1.5rem;
  width: 90%;
  height: 7rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: linear-gradient(to right, #2b44ff, #0afff6);
  ">
      <div className="description">
        <h1 style="font-size: 1.5rem; font-weight: 700; color: white;">
          아래 링크를 통해
          <br />
          사람들에게 <strong style="font-size: 1.5rem; font-weight: 700; color: #1dff0a;">공유</strong>하세요.
        </h1>
      </div>
    </div>
    <h3 style="color: black;">
      https://the-form.io/forms/survey/response/<%= deployId %>
    </h3>
    <div className="box" style="border-radius: 15px;
    display: flex;
    align-items: center;
  padding: 1rem;
  padding-left: 1.5rem;
  width: 90%;
  height: 7rem;
  margin-top: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: linear-gradient(to right, #2b44ff, #0afff6);
  ">
      <div className="description">
        <h1 style="font-size: 1.5rem; font-weight: 700; color: white;">
          아래 링크를 통해
          <br />
          <strong style="font-size: 1.5rem; font-weight: 700; color: #1dff0a;">결과</strong>를 확인하세요.
        </h1>
      </div>
    </div>
    <h3 style="color: black;">
      https://the-form.io/forms/survey/result/<%= surveyId %>
    </h3>
  </div>
  <div className="box" style="border-radius: 15px;
    display: flex;
    align-items: center;
  padding: 1rem;
  padding-left: 1.5rem;
  width: 90%;
  height: 7rem;
  margin-top: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: linear-gradient(to right, #707070, #b0b0b0);
  ">
      <div className="description">
        <h1 style="font-size: 1.5rem; font-weight: 700; color: white;">
        홈페이지에 직접 삽입해보세요.
        </h1>
      </div>
    </div>
    <h3 style="color: black; text-decoration: none;">
      &lt;iframe src="https://the-form.io/forms/survey/response/<%= deployId %>?embed=true"/&gt;
    </h3>
  </div>
</body>

</html>